@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sancreek&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {

    transition: all 0.3s ease;
    scroll-behavior: smooth;
}

#back-index {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.561);
    z-index: 1;
    min-height: 100vh;
}

::-webkit-scrollbar {
    height: 0;
    width: 8px;
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background-color: #00a695;
    border-radius: 10px;

}

.shade {
    background-color: rgba(0, 0, 0, 0.561);
    z-index: 4;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    min-height: 100vh;
}

.DonBoscoLogo {
    height: 110px;
    width: auto;
    margin: 5px;
}

.DonBoscoLogo:hover {
    border-radius: 50%;
    box-shadow: 2px 3px 9px #060606;
}

#navbar {
    display: inline-block;
    position: absolute;
    left: 38%;
    top: 8%;

}

#navbar nav a {
    padding: 20px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-family: monospace;
    font-style: bold;
    font-size: 20px;
    text-shadow: black 4px 4px 4px;

}

#navbar nav a:hover {
    text-decoration: underline #008DDA;
    text-decoration-thickness: 5px;
    text-shadow: 0px 2px 5px rgb(255, 250, 250);

}

#navbar nav .dropdown-content a:hover {
    text-decoration: none;
    text-shadow: 2px 4px 8px black;
    color: black;

}

button {
    position: fixed;
    top: 5%;
    right: 2%;
    color: #008DDA;
    ;
    font-size: 17px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
    border: none;
    text-align: center;
    padding: 12px;
    border-radius: 30px;
    border: 2px solid #008DDA;
    z-index: 2;
}

button:hover {
    background-color: #008DDA;
    color: aliceblue;
    text-decoration: double;
    transform: scale(1.1);
    border: 2px solid aliceblue;

}

.heading {
    padding-top: 50px;
    text-shadow: black,gold;
    color: red;
    font-size: 75px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 900;
    text-align: center;
    letter-spacing: 10px;
    margin-bottom: 40px;
    transition: all 0.5s ease;
    margin-top: 50px;
}

.heading:hover {
    animation: highlight-text 2s infinite;
}

.h1:hover {
    animation: highlight-text 2s infinite;
}
@keyframes highlight-text {
    0% {
        color: #00ff9d;
        /* Start color */
    }

    50% {
        color: #a831c9;
        /* Middle color */
    }

    100% {
        color: #264aa5;
        /* End color */
    }
}

#footer {
    position: sticky;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    gap: 10px;
    text-shadow: 2px 2px 2px #060606;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#icons {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.icons {
    color: aliceblue;
    height: 40px;
    width: 40px;
}

.icons:hover {
    transform: scale(1.2);
}

h1 {
    padding-top: 50px;
    text-shadow: 7px 2px 2px #035886;
    color: aliceblue;
    font-size: 95px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;

}

.aboutus_info {
    color: aliceblue;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    line-height: 1.7em;
    margin: 50px;
    padding-left: 250px;
    padding-right: 250px;

}

#team {
    backdrop-filter: blur(10px);
    border: 2px solid white;
    margin: auto;
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 75%;
    margin-bottom: 40px;
    padding-bottom: 30px;
}

#team_imgs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 100px;
    padding: 30px;
}


#team #team_imgs img {
    height: 100%;
    width: 100%;
    border-radius: 20px;
}



#team_imgs p {
    color: white;
    font-size: larger;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
    text-shadow: 1px 2px 1px black;
    vertical-align: baseline;
}

.meteora_team {

    color: white;
    font-size: 60px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
    text-shadow: 7px 2px 2px #035886;
    padding-top: 40px;
    justify-content: center;
}

fieldset {
    padding: 20px;
}

#container_reg {
    backdrop-filter: blur(10px);
    margin: auto;
    width: 70%;
    padding: 20px;
    margin-bottom: 30px;
}

.topic {
    color: aliceblue;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    text-shadow: 6px 2px 2px black;

}

.legend {
    color: aliceblue;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
    text-shadow: 6px 2px 2px black;

}


#container_reg h3 {
    color: aliceblue;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 6px 2px 2px black;
    padding: 20px;

}

#container_reg label {
    color: aliceblue;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px;
}


.blank {

    color: white;
    width: 200px;
    height: 25px;
    border: 1px solid #060606;
    border-radius: 10px;
    background-color: #d9cccc57;

}

::placeholder {
    color: rgba(240, 248, 255, 0.459);
}

.submit {
    color: #d9cccc;
    width: 150px;
    height: 45px;
    border: 2px solid #d9cccc;
    border-radius: 10px;
    background-color: #021f2e;
    margin-top: 15px;

}

.submit:hover {
    color: #021f2e;
    transform: scale(1);
    background-color: #d9cccc57;


    border: 4px solid #021f2e;
    font-size: 15px;
    font-weight: 900;
}

#container {

    backdrop-filter: blur(10px);
    /*  background-color: #000000a7; */
    color: white;
    width: 60%;
    border-radius: 10px;
    padding: 25px 30px;
    margin: auto;
    z-index: 6;
    border: 2px solid white;
    margin-top: 80px;
    margin-bottom: 30px;
}

#container b {

    color: #008DDA;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
    padding-top: 2%;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}

#container p {
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
    text-shadow: 1px 2px 2px black;
    text-transform: capitalize;
    padding-top: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#container a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-family: monospace;
    font-style: bold;
    font-size: 20px;
    margin: 0;


    display: flex;
    justify-content: center;

}

#container a:hover {
    text-shadow: 4px 2px 2px black;
    text-decoration: underline;
    transform: scale(2px);

}


#background-reg {
    background-image: url('ai.png');
    min-height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    z-index: 1;
    height: 100%;
    width: 100%;
}


/* Style the dropdown button */
.dropbtn {
    background-color: transparent;
    font-size: 20px;
    font-family: monospace;

}

/* to Style the dropdown content  */
.dropdown-content {
    display: none;
    position: absolute;
    top: 130%;
    left: 25%;
    background-color: #008DDA;
    border-radius: 30px;
    z-index: 4;
}

/* Style the links inside the dropdown */
.dropdown-content a {
    color: whitesmoke;
    font-family: cursive;
    text-transform: capitalize;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    color: #008DDA;

    background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropbtn:hover+.dropdown-content {
    display: block;
}

/* Keep dropdown visible when hovering over dropdown content */
.dropdown-content:hover {
    display: block;
}

.dropdown-content a:nth-child(1) {
    border-radius: 30px 30px 0 0;
}

.dropdown-content a:nth-child(4) {
    border-radius: 0 0 30px 30px;
}

#optns {
    backdrop-filter: blur(20px);
    width: 80%;
    height: 50px;
    position: sticky;
    top: 10px;
    z-index: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 4px ridge #76eee2;
    margin: auto;
}

.opt {
    color: #76eee2;
    /* color: whitesmoke; */
    font-family: cursive;
    text-transform: capitalize;
    font-size: 19px;
    text-decoration: none;

}

.opt:hover {
    color: white;
    text-shadow: 2px 2px 2px #d9cccc;
    text-decoration: underline;
    animation: jump 1s ease;

}

@keyframes jump {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0);
    }
}


#pre {
    padding: 0px 0 0 20px;
    /*   border: 3em ridge #7FC7D9; */
    box-shadow: black 0px 0px 10px;
    width: 60%;
    min-height: 100vh;
    margin: auto;
    color: aliceblue;
    margin-top: 20px;
    background-color: #000000;
    background-image: url('camp.jpg'); /* chnge this */
}

#pre article {
    min-height: 100vh;
    margin-bottom: 20px;
    width: 80%;
    margin: auto;
}


#pre h1 {
    text-shadow: 5px 2px 2px #017d71;
    color: aliceblue;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    text-transform: uppercase;
}

#pre h2 {
    font-size: 25px;
    font-family: "sancreek", serif;
    color: #00a695;
    text-shadow: rgb(0, 0, 0) 2px 2px 2px;
    display: flex;
    justify-content: center
}

#pre h3 {
    font-size: 20px;
    font-family: "sancreek", serif;
    color: #00a695;
    text-shadow: rgb(0, 0, 0) 2px 2px 2px;
    display: flex;
    justify-content: center
}

.p1 {
    margin-top: 10px;
    font-size: 20px;
    font-style: italic;
    font-family: serif;
    text-align: center;
}

.cursive {
    font-family: cursive;
}

.event-rules {
    text-decoration: underline;
    text-align: center;
    font-size: 18px;
}

.reg-h1 {
    width: 60%;
    margin: auto;
    font-size: 50px;
    margin-bottom: 10px;
}

#pre p b {
    color: #00a695;
    margin-top: 20px;
    text-align: start;
    font-size: 20px;
    font-family: "sancreek", serif;
}

#pre h4 {
    color: #00a695;
    margin-top: 20px;
    text-align: start;
    font-size: 20px;
    font-family: "sancreek", serif;
}

.event_incharge {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}



.definition_cursive {
    font-family: cursive;
    text-align: center;
}




#on {
    backdrop-filter: blur(20px);
    padding: 0px 0 0 20px;
    /*   border: 3em ridge #7FC7D9; */
    box-shadow: black 0px 0px 10px;
    width: 60%;
    min-height: 100vh;
    color: aliceblue;
    margin: auto;
    margin-top: 70px;
    background-image: url("");/*  add images heere */
}

#on article {
    min-height: 100vh;
    margin-bottom: 20px;
    width: 80%;
    margin: auto;
}

#on h1 {
    text-shadow: 5px 2px 2px #017d71;
    color: aliceblue;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    text-transform: uppercase;
}

#on h2 {
    font-size: 25px;
    font-family: "sancreek", serif;
    color: #00a695;
    text-shadow: rgb(0, 0, 0) 2px 2px 2px;
    display: flex;
    justify-content: center
}

#on h3 {
    font-size: 20px;
    font-family: "sancreek", serif;
    color: #00a695;
    text-shadow: rgb(0, 0, 0) 2px 2px 2px;
    display: flex;
    justify-content: center
}


#on h4 {
    color: #00a695;
    margin-top: 20px;
    text-align: start;
    font-size: 20px;
    font-family: "sancreek", serif;
}


#on p b {
    color: #00a695;
    margin-top: 20px;
    text-align: start;
    font-size: 20px;
    font-family: "sancreek", serif;
}

.p1 {
    margin-top: 10px;
    font-size: 20px;
    font-style: italic;
    font-family: serif;
    text-align: center;
}

#off {
    backdrop-filter: blur(20px);
    padding: 0px 0 0 20px;
    /*   border: 3em ridge #7FC7D9; */
    box-shadow: black 0px 0px 10px;
    width: 60%;
    min-height: 100vh;
    margin: auto;
    margin-top: 70px;
    color: aliceblue;
}

#off article {
    min-height: 100vh;
    margin-bottom: 20px;
    width: 80%;
    margin: auto;
    background-image: url(""); /* //add images here  */
}

#off h1 {
    text-shadow: 5px 2px 2px #017d71;
    color: aliceblue;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    text-transform: uppercase;
}

#off h2 {
    font-size: 25px;
    font-family: "sancreek", serif;
    color: #00a695;
    text-shadow: rgb(0, 0, 0) 2px 2px 2px;
    display: flex;
    justify-content: center
}

#off h3 {
    font-size: 20px;
    font-family: "sancreek", serif;
    color: #00a695;
    text-shadow: rgb(0, 0, 0) 2px 2px 2px;
    display: flex;
    justify-content: center
}


#off h4 {
    color: #00a695;
    margin-top: 20px;
    text-align: start;
    font-size: 20px;
    font-family: "sancreek", serif;
}


#off p b {
    color: #00a695;
    margin-top: 20px;
    text-align: start;
    font-size: 20px;
    font-family: "sancreek", serif;
}


#sports {
    backdrop-filter: blur(20px);
    padding: 0px 0 0 20px;
    /*   border: 3em ridge #7FC7D9; */
    box-shadow: black 0px 0px 10px;
    width: 60%;
    min-height: 100vh;
    margin: auto;
    margin-top: 70px;
    color: aliceblue;
    background-image: url();/* // add images is here */
}

#sports article {
    min-height: 100vh;
    margin-bottom: 20px;
    width: 80%;
    margin: auto;
}

#sports h1 {
    text-shadow: 5px 2px 2px #017d71;
    color: aliceblue;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    text-transform: uppercase;
}

#sports h2 {
    font-size: 25px;
    font-family: "sancreek", serif;
    color: #00a695;
    text-shadow: rgb(0, 0, 0) 2px 2px 2px;
    display: flex;
    justify-content: center
}

#sports h3 {
    font-size: 20px;
    font-family: "sancreek", serif;
    color: #00a695;
    text-shadow: rgb(0, 0, 0) 2px 2px 2px;
    display: flex;
    justify-content: center
}


#sports h4 {
    color: #00a695;
    margin-top: 20px;
    text-align: start;
    font-size: 20px;
    font-family: "sancreek", serif;
}


#sports p b {
    color: #00a695;
    margin-top: 20px;
    text-align: start;
    font-size: 20px;
    font-family: "sancreek", serif;
}

.info_para {
    color: aliceblue;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    line-height: 1.7em;
    margin: 50px;
    padding-left: 250px;
    padding-right: 250px;
}


#blur_back {
    backdrop-filter: blur(10px);
    border: 2px solid white;
    width: 80%;
    margin: auto;
    display: flex;
    text-align: center;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: rgb(0, 0, 0) 0px 0px 10px;
    margin-bottom: 20px;
    padding: 20px;
}

#blur_back h2 {
    color: white;
    font-size: 60px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
    text-shadow: 7px 2px 2px #035886;
    padding-top: 40px;
}

#info {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: start;
    gap: 30px;
    margin-top: 10px;
}

#info span {

    width: 30%;
    border-radius: 20px;
    display: flex;
    padding: 10px;
    box-shadow: black 0px 0px 10px;
    flex-direction: column;
}

#info h5 {
    color: #4f8ee7;
    font-size: 22px;
    font-family: cursive;
    text-shadow: black 2px 2px 5px;
}

#info p {
    color: white;
    font-size: 19px;
    font-weight: 700;
    font-family: cursive;
    text-shadow: black 2px 2px 5px;
}

#feedback {
    display: flex;
    /*   border: 2px solid white; */
    flex-direction: column;
    width: 65%;
    margin: auto;
    margin-top: 20px;
    color: white;
    align-items: center;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
}

#feedback textarea {
    height: 100px;
    border-radius: 10px;
    width: 100%;
    color: white;
    background-color: transparent;
    padding: 10px;
}

#spon_imgs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    grid-gap: 10px;
    grid-auto-flow: row;
}

#spon_imgs img {
    height: auto;
}

#spon_imgs a p {
    text-align: center;
    color: white;
    font-size: 1.5rem;
    width: 40%;
    margin: auto;
}

#spon_img a {
   text-decoration: none;

}
#spon_imgs a p:hover{
    color: red;
}
.declathon {
   
    grid-column: 2 / span 2 ;
}

.rajdeep img{
    
}
.rajdeep {
    grid-row: 4 / span 1;
    height: 100px;
    
}
.map {
     display: flex;
     justify-content: center;
     align-items: center;
     margin-bottom: 20px;
}
.map iframe{
    height: 400px;
    width: 800px;
}
@media screen and (min-width:0px) and (max-width:1000px) {
    #navbar {
        left: 20%;
        font-size: 10px;
    }

    .heading {
        font-size: 75px;
        margin-top: 20%;
    }

}